
  <nf:config mlns:nf="urn:ietf:params:xml:ns:netconf:base:1.0" xmlns="http://www.cisco.com/nxos:9.2.2.:configure_"> 
      <m:configure xmlns:m="http://www.cisco.com/nxos:9.2.2.:_exec">
        <m:terminal>
          <vlan>
            <__XML__PARAM__vlan-id-create-delete>
              <__XML__value>88</__XML__value>
              <m1:name xmlns:m1="http://www.cisco.com/nxos:9.2.2.:configure__vlan" >
                <m1:__XML__PARAM__vlan-name>
                  <m1:__XML__value>Abood</m1:__XML__value>
                </m1:__XML__PARAM__vlan-name>
              </m1:name>
              <m1:no>
                <m1:shutdown/>
              </m1:no>
            </__XML__PARAM__vlan-id-create-delete>
          </vlan>
        </m:terminal>
      </m:configure>
    </nf:config>
